.breadcrumb {
    flex-wrap: wrap;
    &-area {
        background-image: url('../images/test-bg.png');
        background-position: 0 center;
        background-size: cover;
        position: relative;
        min-height: 300px;
    }

    &-title {
        font-size: 60px;
    }
    &-item {
        font-size: 15px;
        color: #777;
        font-weight: 500;
        padding: 0 15px;
        position: relative;
        margin-bottom: 10px;

        &:first-child {
            padding-left: 0;

        }

        &.active {
            color: #ff9222;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: #777;
        }

        &:last-child {
            &::before {
                content: none;
            }
        }
    }
}

// shop
.article-addCart {
    .article-img {
        overflow: hidden;
        &:hover {
            .add-cart {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .article-add {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .add-cart {
        display: inline-block;
        background: #ffffff;
        line-height: 40px;
        color: #a39fb4;
        margin: 0 8px;
        opacity: 0;
        visibility: hidden;
        border-radius: 5px;
        padding: 0 20px;
        &:hover {
            background: #ff9222;
            color: #fff;
        }
        
    }
    
    .old-price {
        text-decoration: line-through;
    }
}

.shop-primary {
    .orderby {
        border: 1px solid #181e23;
        padding: 10px;
    }
}

.pagination {
    flex-wrap: wrap;
    .disable {
        pointer-events: none;
        user-select: none;
    }
    &-item {
        margin-bottom: 10px;
        margin-right: 8px;

        .icon {
            width: 16px;
            height: auto;
        }

        &.active {
            .pagination-link {
                background-color: #181e23;
            }
        }
    }
    &-link {
        --size: 50px;
        width: var(--size);
        height: var(--size);
        border-radius: 999px;
        background-color: #ff9222;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 14px;
        color: #fff;

        &:hover {
            background-color: #181e23;
        }
    }
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}
table td, table th {
    padding: .75rem 0;
    vertical-align: top;
    border-top: 1px solid #f6f6f6;
    font-weight: 400;
}

table th {
    text-align: inherit;
}

.share-social {
    flex-wrap: wrap;
    .social-item {
        --size:50px;
        width: var(--size);
        height: var(--size);
        background-color: #573abd;

        &:hover {
            background-color: #ff9222;
        }
    }
}

// blog

.play-large {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .icon {
        width: 15px;
        height: auto;
    }
}

.search-block {
    .form-group {

    }

    .search-input {
        background: #f5f5f5;
        border: none;
        padding: 15px;
        font-size: 15px;
        height: 56px;
    }

    .btn-search {
        padding: 15px 20px;
        background-color: #ff9222;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 0;
        height: 56px;
    }
}
.tags-block {
    .list-tag {
        flex-wrap: wrap;
    }
    .item-tag {
        margin: 5px 3px;
        display: block;
    }

    .tag-link {
        border: 2px solid #f6f6f6;
        padding: 10px 15px;
        display: inline-block;

        &:hover {
            border-color: #ff9222;
        }
    }
}

.categories-block {
    &__content {
        .item-text {
            &:last-child {
                .text-link {
                    border-bottom: none;
                }
            }
        }
    }
}
.recent-post-block {
    &__content {
        .item-text {
            &:last-child {
                border-bottom: none;
            }
        }
    }
}


.follow-us-block {
    .follow-us-social {
        .social-item {
            --size:40px;
            width: var(--size);
            height: var(--size);
            border: 1px solid #e4e4e4;

            &:hover {
                background-color: #ff9222;
                .icon {
                    filter: invert(1);
                }
            }
        }
    }
}
.block-wrapper {
    width: 100%;
    display: flex;

    .blog-left {
        max-width: 760px;
        width: 100%;
    }
    .block-right {
        max-width: 380px;
        width: 100%;

        &__item {
            border: 2px solid #f5f5f5;
        }
    }
}

.blog-primary {
    &__left {
        .article {
            background-color: #fff;
            border: 2px solid #f5f5f5;
            margin-bottom: 50px;
        }
        .article-admin {
            position: absolute;
            top: -35px;
            background-color: #fff;
            padding: 15px 25px;
            border-radius: 10px;
            right: 20px;
            border-radius: 16px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);

            .icon {
                width: 15px;
                height: auto;
            }
        }
        .article-info {
            width: 100%;
            flex-wrap: wrap;
            &__item {
                padding-right: 15px;
                margin-right: 15px;
                border-right: 2px solid #f5f5f5;
                margin-bottom: 10px;

                &:last-child {
                    border-right: none;
                    margin-right: 0;
                }

                .icon {
                    height: 14px;
                    width: auto;
                }
            }
        }
    }

}