// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // -------------------------------------------------------------------- index
    .py-100 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .heading-one {
        .title {
            font-size: 40px;
        }
    }
    .section-primary {
        &__left {
            .title {
                font-size: 56px;
            }
        }
    }
    .section-quinary {
        &__content {
            .article-title {
                font-size: 48px;
            }
        }
    }
    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}

// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    .w-md-500 {
        max-width: 500px;
        margin: auto;
    }
    // --------------------------------------------------------------------header
   
    // --------------------------------------------------------------------index
    .swiper-pagination-bullet {
        width: 20px;
        height: 3px;
    }

    .section-primary {
        &__left {
            padding-right: 0;
            margin-bottom: 40px;

            .title {
                font-size: 48px;
            }
            .des {
                max-width: 100%;
            }
            .btn-group {
                justify-content: center;
            }
        }

        &__right {
            width: 100%;

            .article-img {
                .img {
                    margin: auto;
                }
            }
        }
    }

    .section-secondary {
        &__column {
            margin-bottom: 20px;

            .article {
                height: auto;
            }
        }
    }

    .section-tertiary {
        &__left {
            margin-bottom: 20px;
        }
        &__right {
            margin-top: 20px;
        }
    }

    .section-quinary {
        &__content {
            grid-template-columns: repeat(2,1fr);

            .article {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-last-child(2){
                    margin-bottom: 0;
                }

            }
        }
    }

    .section-senary {
        .gallery-img {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .section-septenary {
        &__content {
            .article-column {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .section-octonary {
        &__content {
            .article-content {
                margin-bottom: 30px;
            }
        }
    }

    .section-decenary {
        &__content {
            .article-column {
                margin-bottom: 20px;
            }
        }
    }

    .section-eleven {
        &__content {
            .article img {
                height: 100px;
            }
        }
    }
    
    // --------------------------------------------------------------------cate
    .breadcrumb {
        &-area {
            min-height: 200px;
        }

        &-title {
            font-size: 40px;
            margin-bottom: 15px;
        }
    }

    // --------------------------------------------------------------------detail
    .detail-shop-primary {
        &__left {
            width: 100%;
            max-width: 100%;
            margin-bottom: 30px;
        }
    }

    .detail-shop-secondary {
        &__row {
            .tabs-block {
                flex-wrap: wrap;
                
                .tab-item {
                    padding: 10px 15px;
    
                    .text {
                        font-size: 15px;
                        padding-bottom: 0;
    
                        &::before {
                            content: none;
                        }
                    }
                }
            }

        }
    }

    // --------------------------------------------------------------------footer

    .footer-top {
        padding-top: 50px;
        padding-bottom: 50px;
        .column-first,
        .column-fourth {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    
        .column-second,
        .column-third {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }

        .column {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
    }
}

// max width 767px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    // .py-100 {
    //     padding-top: 60px;
    //     padding-bottom: 60px;
    // }
    // --------------------------------------------------------------------header
    .header-mb {
        &__left {
            .logo {
                &-link {
                    padding: 5px 10px;
                }
                .logo-img {
                    height: 40px;
                }
            }
        }
    }

    // --------------------------------------------------------------------index
    .heading-one {
        .title {
            font-size: 32px;
        }
    }

    .section-primary {
        &__left {
            .title {
                font-size: 38px;
            }
        }
    }

    .section-quinary {
        &__content {
            .article {
                &:nth-last-child(2) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .section-senary {
        &__content {
            .tab-container {
                margin-bottom: 30px;
            }
            .gallery-img {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .section-octonary {
        &__content {
            .collapse-heading {
                padding: 15px;
            }
            .collapse-icon {
                img {
                    width: 16px;
                }
            }
        }
    }

    .section-decenary {
        &__content {
            .article-author {
                margin-bottom: 15px;
            }
        }
    }

    .section-nonary {
        &__content {
            .article-img__primary img {
                width: 100px;
            }
        }
    }

    .section-twelve {
        &__content {
            padding: 20px;
        }
    }

    .section-eleven {
        &__content {
            .article {
                img {
                    height: 120px;
                }
            }
        }
    }

    // --------------------------------------------------------------------cate

    .breadcrumb {
        &-area {
            min-height: 180px;
        }
        &-title {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    .pagination {
        &-link {
            --size: 40px;
        }

        &-item {
            .icon {
                width: 12px;
            }
        }
    }
    .shop-primary {
        &__container {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        &__heading {
            .title {
                margin-bottom: 20px;
            }
        }

        .orderby {
            width: 100%;
        }
    }

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
    .footer-top {
        .column-first,
        .column-fourth {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .column-second,
        .column-third {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .column {
            margin-bottom: 20px;
            // padding-left: 0;
            // padding-right: 0;

            &:nth-last-child(2) {
                margin-bottom: 20px;
            }
        }

        .logo {
            img {
                width: 230px;
                margin: auto;
            }
        }

        &__inner {
            margin: auto;

        }
    }

}
